<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Adote um amigo</title>
	<link rel="stylesheet" href="adoptModal.css">
	<link rel="stylesheet" href="https://use.typekit.net/eqk2gym.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../assets/little-paws.png" />
</head>
<body id="body" onload="renderSlide()">
	<main>
		<div class="overlay">
			<div class="modal">
				<a href="../index.html"><button class="close-modal"></button></a>
				<div class="first-content" id="first-content">
					<div id="dog-profile">
						<!-- <img class="profile-dog" src="../assets/luna.png" />
						<p class="profile-text">Luna - 5 meses</p> -->
					</div>
					<div class="text-box">
						<p class="profile-title">Pronto para ter um novo amiguinho?</p>
						<p class="profile-description">Antes de levar a Luna para seu novo lar, precisamos saber alguma informações sobre você.</p>
					</div>
				</div>
				<div class="input-box">
					<input
						style="width: 78%;"
						placeholder="Nome completo"/>
					<input
						style="width: 20%;"
						placeholder="idade"/>
					<input
						style="width: 100%;"
						placeholder="Email"/>
				</div>
				<div class="profile-ask">
					possui algum animal?
					<button id="button-yes" onclick="yesOption()">Sim</button>
					<button id="button-no" onclick="noOption()">Não</button>
				</div>
				<a href="messageModal.html"><button class="profile-adopt_button">Adotar</button></a>
			</div>
		</div>
	</main>
	<script src="../main.js"></script>
</body>
</html>