<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Seja voluntário</title>
	<link rel="stylesheet" href="messageModal.css">
	<link rel="stylesheet" href="https://use.typekit.net/eqk2gym.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="body">
	<main>
		<div class="overlay">
			<div class="modal">
				<a href="../index.html"><button class="close-modal"></button></a>
				<p class="principal-title">Obrigado!</p>
				<p class="profile-description">Recebemos a sua inscrição! Vamos analisar e entraremos em contato através do email enviado pelo formulário.</p>
				<a href="../index.html"><button class="profile-adopt_button">Voltar para home</button></a>
			</div>
		</div>
	</main>
	<script></script>
</body>
</html>