* {
	font-family: urbane-rounded, sans-serif;
} 
body {
	width: 100%;
	margin: 0;
}

a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #00B77A60;
	z-index: 4;
}

.modal {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 700px;
	padding: 1.5rem 2.5rem;
	padding-top: 2.25rem;
	border-radius: 35px;
	background-color: #fff;
}

.close-modal {
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 30px;
	height: 30px;
	border: none;
	background-color: transparent;
	background-image: url('../assets/close.svg');
	background-repeat: no-repeat;
	background-size: cover;
	outline: none;
	cursor: pointer;
}

.principal-title {
	margin: .5rem 0;
	font-size: 3rem;
	font-weight: 600;
	color: #00CA88;
	text-shadow: 0px 3px 6px #00000029;
}

.profile-description {
	font-size: 1.25rem;
	color: #575757;
}

.input-box {
	width: 100%;
	margin: 2rem 0;
}

.input-box input {
	height: 45px;
	margin-bottom: 1rem;
	font-size: 1rem;
	text-align: center;
	border-radius: 35px;
	border: 1px solid #575757;
	color: #575757;
	outline: none;
}

.input-box input::placeholder {
	font-weight: 600;
}

.profile-ask {
	width: 100%;
	font-size: 1.35rem;
	color: #575757;
}

.profile-ask button {
	width: 120px;
	font-size: 1.1rem;
	margin: 0 .5rem;
	padding: .75rem 1rem;
	font-weight: bold;
	border-radius: 35px;
	border: none;
	color: #575757;
	background: #F2F2F2;
	outline: none;
	cursor: pointer;
}

#button-yes:hover {
	background-color: #00CA88;
}

#button-no:hover {
	background-color: #FF0000;
}

.profile-adopt_button {
	align-self: center;
	width: 90%;
	height: 70px;
	margin: 0;
	margin-top: 2rem;
	padding: 0 3rem;
	font-weight: 600;
	font-size: 1.35rem;
	border: none;
	border-radius: 35px;
	background: #00CA88;
	color: #fff;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 3px 6px #00000029;
}

@media screen and (max-width: 768px) {
	.modal {
		width: 80%;
		height: 90vh;
	}
}

@media screen and (max-width: 490px) {
	.modal {
		width: 100%;
    padding-top: 5rem;
		border-radius: 0;
	}
	.principal-title {
		font-size: 2rem;
	}
	.close-modal {
		top: 3rem;
    right: 1.5rem;
	}
	.profile-description {
		font-size: 1.1rem;
	}
	.input-box input, .input-box input::placeholder {
		font-size: .85rem;
	}
	.profile-ask {
    display: flex;
		flex-direction: column;
		font-size: 1.2rem;
		margin-top: .5rem;
	}
	.profile-ask button {
		width: 100%;
		margin: 0;
		margin-top: .75rem;
		padding: .75rem;
		font-size: .85rem;
	}
}
