<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Seja voluntário</title>
	<link rel="stylesheet" href="volunteerModal.css">
	<link rel="stylesheet" href="https://use.typekit.net/eqk2gym.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="body">
	<main>
		<div class="overlay">
			<div class="modal">
				<a href="../index.html"><button class="close-modal"></button></a>
				<p class="principal-title">Seja voluntário</p>
				<p class="profile-description">dggo ipsum much ruin diet very hand that feed shibe. Puggo blop ur givin me a spook blep, aqua doggo borkdrive. Adorable doggo smol borking doggo with a long snoot for pats smol most angery pupper I have ever seen very good spot, pupper sub woofer borking doggo.</p>
				<div class="input-box">
					<input
						style="width: 75%;"
						placeholder="Nome completo"/>
					<input
						style="width: 22%;"
						placeholder="idade"/>
					<input
						style="width: 100%;"
						placeholder="Email"/>
				</div>
				<div class="profile-ask">
					possui algum animal?
					<button id="button-yes" onclick="yesOption()">Sim</button>
					<button id="button-no" onclick="noOption()">Não</button>
				</div>
				<a href="messageModal.html"><button class="profile-adopt_button">Enviar</button></a>
			</div>
		</div>
	</main>
	<script src="../main.js"></script>
</body>
</html>